:root{
   --red:#ff2e63;
   --black:#252a34;
   --blue:#08d9d6;
   --white:#eaeaea;
   --title:35px;
   --text:19px;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #fff;
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
}
/**ir arriba**/
.go-top-container{
	position: fixed;
	bottom: 40px;
	right: 40px;
	width: 66px;
	height: 66px;
	z-index: -1;
}

.go-top-button{
	width: 0;
	height: 0;
	background: #000;
	border-radius: 50%;
	cursor: pointer;
	transition: .2s;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%;); 
	z-index: -1;
}

.go-top-button i{
	position: absolute;
	font-size: 15px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%) scale(0);
	color: #fff;
	transition: .2s;
}

.show{
	z-index: 10;
}

.show. .go-top-button{
	animation: popup .3s easy-in-out;
	width: 66px;
	height: 66px;
	z-index: 11;
}

.show i{
	transform: translate(-50%, 50%) scale(1);
}

@keyframes popup{
	0%{
		width: 0;
		height: 0;
	}
	50%{
		width: 80px;
		height: 80px;
	}
	100%{
		width: 66px;
		height: 66px;
	}

}
/**Navegación**/
#header{
	position: relative;
	width: 100%;
}

.menu{
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: #fff;

	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 9999;
}

.menu .logo{
	margin-left: 20px;
}

.menu .logo h1 a{
	text-decoration: none;
	font-size: 35px;
	font-weight: 400;
	color: var(--black);
}

.menu .list-container{
	margin-right: 20px;
}

.menu .list-container .lists{
	display: flex;
}

.menu .list-container .lists li{
	list-style: none;
}

.menu .list-container ul li a{
    text-decoration: none;
    margin: 0px 10px;
    padding:8px;
    color: var(--black);
    border-radius: 24px;
    transition: 0.3s;
    font-size: 16px;
}
.menu .list-container ul li a.active{
    background: var(--red);
    color:#fff;
}
.menu .list-container ul li a:hover{
    background: var(--red);
    color:#fff;
}

.btn-menu > .fa-bars{
	display: none;
}

/**Navegación**/
.img-header{
	position: relative;
	width: 100%;
	height: 70vh;
	background: url(../img/img-04.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.img-header .welcome{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.img-header .welcome h1{
	font-size: 50px;
	color: #fff;
	font-weight: 200;
	text-align: center;
}

.img-header .welcome hr{
	width: 400px;
	height: 2px;
	background: #fff;
	border: none;
	margin-top: 5px;
}

.img-header .welcome p{
	font-size: 20px;
	color: #fff;
	margin-top: 20px;
}

.acerca-de{
	width: 100%;
	margin-top: 120px;
}

.acerca-de .info-cont{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.acerca-de .info-cont h1{
	font-size: 50px;
	font-weight: 400;
	color: var(--black);
	text-align:center;
	margin-bottom: 20px;
}

.acerca-de .info-cont p{
	text-align: center;
	font-size: 20px;
	color: var(--black);
	line-height: 35px;
	margin: 10px 0px;
}

.acerca-de .info-cont .about-gallery{
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 50px 0px;
}

.acerca-de .info-cont .about-gallery img{
	width: 50%;
	height: 300px;
	object-fit: cover;
	margin: 10px 10px;
	border-radius: 10px;
	cursor: pointer;
}

.acerca-de .info-cont .about-more{
	width: 100%;
	display: flex;
	justify-content: center;
}

@media only screen and (max-width:773px){
    .acerca-de .info-cont .about-gallery{flex-direction: column;}
    .acerca-de .info-cont .about-gallery img{width: 100%;}
}
@media only screen and (max-width:590px){
    .acerca-de .info-cont h1{font-size: 30px;}
    .acerca-de .info-cont p{font-size: 15px;}
}

/**Proyectos**/

.my-projects{
	position: relative;
	width: 100%;
	height: 100%;
	background: url(../img/img-05.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	margin-top: 100px;
}

.my-projects .deg-background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
}

.my-projects .eje-z-project{
	position: relative;
	width: 100%;
	height: 100%;
}

.my-projects .container-project{
	width: 90%;
	margin: auto;
	padding-top: 100px;
}

.my-projects .container-project .project-title{
	border: 2px solid #fff;
	padding: 10px;
	text-align: center;
	width: 50%;
	margin: auto;
}

.my-projects .container-project .project-title h2{
	font-size: 40px;
	color: #fff;
	font-weight: normal;
}

.my-projects .container-project .project-title hr{
	background: #fff;
	width: 50%;
	height: 3px;
	margin: 10px auto;
}


.my-projects .container-project .project-imgs{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 80px;
	padding-bottom: 100px;
}

.my-projects .container-project .project-imgs a{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 80px;
	padding-bottom: 100px;
}

.my-projects .container-project .project-imgs img{
	width: calc(30% - 10px);
	margin: 10px;
	object-fit: cover;
	border-radius: 10px;
	cursor: pointer;
}

@media only screen and (max-width:773px){
    .my-projects .container-project .project-imgs img{width: 80%; margin-bottom: 30px;}
}
@media only screen and (max-width:446px){
    .my-projects .container-project .project-title h2{font-size: 30px;}
}

/**conocimientos**/
.conocimientos{
	width: 100%;
	margin-top: 120px;
}

.conocimientos .info-conocim{
	width: 80%;
	margin: auto;
	display: flex;
	text-align: center;
	flex-direction: column;
}

.conocimientos .info-conocim h2{
	font-size: 40px;
	font-weight: normal;
	color: var(--black);
	text-align:center;
	margin-bottom: 10px;
}

.conocimientos .info-conocim hr{
	width: 60%;
    height: 2px;
    margin:auto;
    background: var(--black);
}

.conocimientos .info-conocim .gallery-png{
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 50px 0px;
}

.conocimientos .info-conocim .gallery-png img{
	width: 50%;
	height: 130px;
	object-fit: cover;
	margin: 10px 10px;
	border-radius: 10px;
	cursor: pointer;
}

@media only screen and (max-width:773px){
    .conocimientos .info-conocim .gallery-png{flex-direction: column; display: flex; align-items: center;}
    .conocimientos .info-conocim .gallery-png img{width: 50%;}
}


/**footer**/
.footer{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/img-06.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.footer .deg-footer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}
.footer .eje-z-footer{
    position: relative;
    width: 100%;
    height: 100%;
}
.footer .footer-content{
    padding-top: 100px;
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
}
.footer .footer-content .footer-title{
    width: 50%;
    margin: auto;
    border: 2px solid #fff;
    padding: 15px;
}
.footer .footer-content .footer-title h2{
    font-size: 35px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}
.footer .footer-content .footer-title hr{
    background: #fff;
    height: 2px;
    width: 80%;
    margin: auto;
}
.footer .form-content{
    width: 60%;
    margin: 50px auto;
    background: transparent;
    padding: 30px;
    border-radius: 50px;
    border: 1.5px solid var(--red);
}
.footer .form-content #formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer .form-content #formulario label{
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin: 30px 0px 10px 0px;
}
.footer .form-content #formulario input{
    width: 90%;
    height: 40px;
    margin: auto;
    border-radius: 24px;
    outline: none;
    border: 1.5px solid var(--red);
    text-align: center;
    font-size: 18px;
    color: var(--black);
}
.footer .form-content #formulario textarea{
    width: 90%;
    height: 200px;
    margin:auto;
    padding: 20px;
    border-radius: 24px;
    outline: none;
    border:1.5px solid var(--red);
    font-size: 15px;
    color: var(--black);
}
.footer .form-content #formulario .send{
    margin: 30px;
    display: flex;
    justify-content: center;
}
.footer .form-content #formulario button{
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background: var(--red);
    border: none;
    outline: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.footer .form-content #formulario button:hover{
    background: var(--blue);
}
/**hasta aca**/
.footer .footer-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background:rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #fff;
}
.footer .footer-text p{
    font-size: 20px;
    text-align: center;
    color: #fff;
}

/**responsive tablet**/
@media only screen and (max-width:1000px){

	.btn-menu > .fa-bars{
        display: block;
        position:absolute;
        right: 30px;
        top: 20px;
        font-size: 28px;
        color: var(--black);
        transition: 0.5s;
        cursor: pointer;
    }
    .btn-menu > .fa-times{
    	color: var(--red);
    }
    .btn-menu > .fa-bars:hover{
    	color:var(--red);
    }
    .menu .logo-box{
    	margin-left: 30px;
    }
    .menu .list-container{
        position: fixed;
        top:60px;
        left:-100%;
        background:#fff;
        width: 100%;
        height: calc(100vh - 60px);
    }
    .menu .list-container .lists{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top:4px solid var(--red);
    }
    .menu .list-container ul li{
        width: 90%;
        border-bottom: 2px solid var(--black);
        display: flex;
        justify-content: center;
    }
    .menu .list-container ul li a{
        font-size: 20px;
        text-align: center;
        padding:12px 0px;
    }
    .menu .list-container ul li a.active{
        background: none;
        color:var(--red);
    }
    .menu .list-container ul li a:hover{
        background: none;
        color:var(--red);
    }
}

@media only screen and (max-width:773px ){
    .img-header .welcome h1{
    	font-size: 40px;
    }
    .img-header .welcome > button{
    	width: 130px; font-size: 20px;}
}
@media only screen and (max-width:590px){
    .img-header .welcome h1{font-size: 30px;}
    .img-header .welcome hr{width: 100px;}
    .img-header .welcome p{font-size: 17px;}
    .img-header .welcome > button{width: 100px; font-size: 17px;}
}